/* Common Elements  */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#top{
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.servicesh1{
    font-family: 'Bagel Fat One', cursive;
    color: brown;
    text-align: center;
    font-size: 45px;
}


.hr1{
    border-width: 2px;
    border-color: brown;
    border-style: solid;
    margin: 0;
    opacity: 1;
}

.maintitle{
    font-family: 'Bagel Fat One', cursive;
    font-size: 120px;
    text-align: center;

}

.subtitle{
    font-family: 'Bagel Fat One', cursive;
    font-size: 35px;
    text-align: center;
    
}

.subtitle1{
    font-family: 'Bagel Fat One', cursive;
    font-size: 35px;
    text-align: center;
    color: white;
    
}

.subtitle2{
    font-family: 'Bagel Fat One', cursive;
    font-size: 35px;
    text-align: center;
    color: white;
}

/* Navigation Bar CSS Starts Here */


#navbar{
    display: flex;
    background-color: brown;
    height: 80px;
    align-items: center;
    font-family: 'Abril Fatface', cursive;
    position: sticky;
    top: 0px;
}


#logo{
    width: 15%;
    
}

#logoimg{
    height: 55px;
    margin: 12px 40px;
    border-radius: 22px;
}

/* navigation links */

#navlinks{
    width: 70%;
    /* padding-left: 70px;  */
    /* margin: auto; */
    
}

#links{
    display: flex;
    list-style: none;
    justify-content: center;
    
}

.linkitem{

}

.linka{
    padding: 10px;
    margin: 15px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-size: 22px;
}

.linka:hover{
    background-color: white;
    color: black;
    transition: 1s;
}

.currentpage{
    border: 2px solid white;
    border-radius: 20px;

}

/* Social Media Links */

#socialmedia{
     /* margin-left: 100px; */
    /* text-align: center; */
    margin: auto;
}

#socialmedia img{
    border-radius: 10px;
}
 
#socialmedia img:hover{
    transform: scale(1.2); 
    box-shadow: 0px 0px 26px 19px rgba(56,217,35,1);
    transition: 0s;
}

/* Navigation Bar CSS Ends Here */

/* Home Content Css Starts Here  */

#homecontent{
    height: 600px;
    background-image: url(Food.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Bagel Fat One', cursive;
    color: white;
}



/* Home Content Css Ends Here  */

/* Facilities Css Starts Here */

#facilities{
    display: flex;
    justify-content:space-around;
    height: 315px;
    /* align-items: center; */
    background-color: rgb(43, 6, 6);
    color: white;
}

.facilityclass{
    text-align: center;
    margin-top: 30px;

}

#facilities img{
    height: 160px;
   
}

.facilitypara1{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}

.facilitypara2{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 13px;
}

/* Facilities Css Ends Here */

/* Footer CSS */

#footer{
    display: flex;
    background-color: brown;
    height: 45px;
    font-family: 'Abril Fatface', cursive;
    justify-content: center;
    /* align-items:center; */
    line-height: 35px;
    color: white;
}

/* Services Css Starts Here */
#servicescontent{
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.servicesbox{
    width: 590px;
    height: 430px;
    border: 2px solid;
    border-radius: 25px;
    border-color: brown;
    margin: 10px; 
    padding: 10px;
    
}

.servicesbox img{
    border-radius: 25px;
}

.servicesbox h5{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 30px;
    font-weight:bolder;
}
/* Services Css Ends Here */

/* Contact Us Css Starts Here */

#contactuscontent{
    background-image: url(contactfood.jpg);
    background-position: bottom;
    height: 400px
}

#contactfood{
    font-family: 'Bagel Fat One', cursive;
    color: white;
    text-align: center;
    font-size: 45px;
    line-height: 110px;
}
/* Contact Us Css Ends Here */